# Auto detect text files and perform LF normalization
* text=auto

# GitHub Linguist Overrides: Only show C# in Repository Languages
*.cshtml linguist-detectable=false
*.html linguist-detectable=false
*.css linguist-detectable=false
*.js linguist-detectable=false
*.json linguist-detectable=false
*.svg linguist-detectable=false
*.xml linguist-detectable=false
*.sql linguist-detectable=false
*.md linguist-detectable=false

# Exclude all static web assets & vendor libraries
**/wwwroot/** linguist-vendored
**/wwwroot/** linguist-detectable=false

# Ensure C# is the only primary tracked language
*.cs linguist-detectable=true
